.teste-p {
    font-size: 100px;
    margin: 0px;
    background-color: brown;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;


}


.teste-p:hover{
    background-color: rgb(54, 42, 165);
}


































